.containermenu{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: rgb(255, 255, 255) ;

}

.background{
    background-image: url(https://data.whicdn.com/images/16156894/original.jpg);
}

@font-face{
    font-family: "Josefin Sans";
    src: url(fonts/josefin-sans-bold-2.ttf); 
}

.icons{
    padding: 7px 1px 5px 3px;
}

.input{
    width: 25%;
    background:#5f438b;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px 15px 5px 10px;
}

.inputsearch{
    font-family: "inconsolata";
    color: black;
    border: none;
    background: #5f438b;
}
::placeholder{
    color: black;
    opacity: 1;
}

.h1{
    font-family: "Josefin Sans";
    font-size: 60px;
}



.header{
    display: flex;
    justify-content: space-between;
    padding: 15px 40px 10px 40px;
    background: #ac86e7;
    box-sizing: border-box;
    height: 70px;
}

.icons-container a{
    margin-left: 5px;
    opacity: 0.5;

}
.icons-container a:hover{
    opacity: 1;
}


.submenu{
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    height: 250px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.submenu a{
    text-decoration: none ;
    color: black;
    margin-left: 10px;
    font-family: 'Inconsolata', monospace;
    font-size: 17px;
    opacity: 0.5;

}

.submenu a:hover{
    opacity: 1;
}

.carrosel{
    background: green;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 80px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.containerposts{
    display: flex;
    justify-content: space-around;
}

.posts{
    background: grey;
    width: 60%;
    height: 1000px;
}

.posts a{
    display: block;
}
.category{
    background: purple;
    width: 40%;
    height: 1000px;
}

.footer{
    background-color: black;
    height: 600px;
}