a{
    text-decoration: none;
}
.containermenu{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: rgb(255, 255, 255) ;
    font-family: "Inconsolata";
}

.containermenu li{
    list-style-type: none;
}

.containermenu ul{
    padding-left: 0px;
}

.background{
    background-image: url(https://data.whicdn.com/images/16156894/original.jpg);
}

@font-face{
    font-family: "Josefin Sans";
    src: url(fonts/josefin-sans-bold-2.ttf); 
}

.icons{
    padding: 7px 1px 5px 3px;
}

.input{
    width: 25%;
    background:#5f438b;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px 15px 5px 10px;
}

.inputsearch{
    font-family: "inconsolata";
    color: black;
    border: none;
    background: #5f438b;
}
::placeholder{
    color: black;
    opacity: 1;
}

h1, h2, h3, h4{
    font-family: "Josefin Sans";
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 15px 40px 10px 40px;
    background: #ac86e7;
    box-sizing: border-box;
    height: 70px;
}

.icons-container a{
    margin-left: 5px;
    opacity: 0.5;

}

.icons-container a:hover{
    opacity: 1;
}


.submenu{
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    height: 250px;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}


.submenu a{

    color: black;
    margin-left: 10px;
    font-family: 'Inconsolata', monospace;
    font-size: 17px;
    opacity: 0.5;

}


.submenu a:hover{
    opacity: 1;

}

.submenu-list{
    display: flex;
    justify-content: center;
}

.submenu-list li{
    position: relative;
}

.submenu-list li ul{
    position: absolute;
    display: block;
    background: white;
    width: 90px;
    border: 1px solid black;
    -webkit-box-shadow: -1px 2px 10px 0px rgba(133,121,133,1);
    -moz-box-shadow: -1px 2px 10px 0px rgba(133,121,133,1);
    box-shadow: -1px 2px 10px 0px rgba(133,121,133,1);
}

/*  .submenu-list li ul:hover li{
    background: blueviolet;

}*/

.submenu-list li:hover ul, .submenu-list li.hover ul{
    display: block;
}


.carrosel{
    background: green;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 80px;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}

.ultimos-posts{
    padding: 10px 6px 0px 21px;
    margin-left: 39px;
    /* width: 200px; */
    font-size: 27px;
}

.containerposts{
    display: flex;
    justify-content: space-around;
}

.posts{
    width: 75%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.post{
    display: block;
    min-width: 300px;
    margin-left: 63px;
    margin-top: 15px;
    color: black;
    font-size: 12px;
    height: 299px;
}

.post:hover{
    box-shadow: 1px 4px 30px 1px rgba(96,89,89,0.78);
-webkit-box-shadow: 1px 4px 30px 1px rgba(96,89,89,0.78);
-moz-box-shadow: 1px 4px 30px 1px rgba(96,89,89,0.78);
}


.post img{
    width: 300px;
    display: block;
}

.post-container{
    border-bottom: 1px solid #808080ad;
    border-left: 1px solid #808080ad;
    border-right: 1px solid #808080ad;
}

.post-container img{
    width: 35px;
    border-radius: 50%;
}


.sidebar{
    width: 32%;
    height:  1141px;
    margin-right: 66px;
}


.sidebar-bio img{
    width: 6%;
    border-radius: 50%;
    margin-left: 125px;
    margin-top: 41px;
    position: absolute;
    border: 4px solid white;
    -webkit-box-shadow: 4px 6px 38px -4px rgba(186,173,186,1);
    -moz-box-shadow: 4px 6px 38px -4px rgba(186,173,186,1);
    box-shadow: 4px 6px 38px -4px rgba(186,173,186,1);
}


.sidebar-input{
    width: 77%;
    background: whitesmoke;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px 15px 5px 10px;
    margin-left: 41px;
    margin-top: 22px;
}
.sidebar-inputsearch{
    font-family: "inconsolata";
    color: black;
    border: none;
    background: whitesmoke;
    height: 30px;
    width: 56%;
}

.bio-content{
    border: 1px solid black;
    width: 75%;
    margin-left: 46px;
    margin-top: 93px;
    padding: 53px 41px 41px 41px;
    box-sizing: border-box;
    text-align: center;
}

.button-bio{
    display: block;
    background: #7d2fc4;
    width: 69%;
    height: 41px;
    color: white;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 0px 0px 0px;
    font-size: 14px;
    margin: 29px 0px 0px 29px;
}

.button-bio:hover{
    -webkit-box-shadow: 0px 0px 11px -2px rgba(171,171,171,1);
    -moz-box-shadow: 0px 0px 11px -2px rgba(171,171,171,1);
    box-shadow: 0px 0px 11px -2px rgba(171,171,171,1);
    background-color: #a779d1;
}   
.pages{
    height: 170px;
    width: 69%;
    text-align: center;
    box-sizing: border-box;
    padding: 53px;
    margin: 37px;
}

.pages-container{
    background: white;
    margin-right: 24px;
    padding:10px;
    border: 1px solid rgb(177, 177, 177);
    color: rgb(116, 37, 153);
    border-radius: 49%;
}

.pages-container:hover{
    background: rgb(98, 66, 185);
    color: white;
}


.sidebar-socialmidias {
    padding-top: 27px
}

.Popularposts{
    width: 88%;
    margin: 51px 0px 32px 23px;
}

.Popularposts h3{
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;

}

.images{
    width: 89px;
    height: 75px; 
}

.Popularposts a{
    width: 90%;
    display: flex;
    color: black;
    margin-bottom: 27px;
}


.Title-popularposts{
    margin: -20px 0px 0px 27px;
}

.Title-popularposts p{
    font-size: 13px;
}

.sidebar-categories{
    border-bottom: 1px solid #ccc;
    padding: 0px 0px 20px 0px;
    margin-left: 50px;
    
}

.categories {
    display: block;
    width: 96%;
}

.categories-container{
    display: flex;
    border-bottom: 1px dotted #ccc;
    justify-content: space-between;
    color: #6610f2;
}

.numbers{
    color: #ccc;
}
.numbers:hover{
    color: black;
}

.footer{
    background-color: #262626;
    height: 600px;
    color: #fff;
    display: flex;
    padding-top: 70px;
}

.Aboutus{
    width: 40%;
    margin: 0px 0px 0px 72px;
}

.Aboutus-container{
    width: 305px;
    box-sizing: border-box;
    padding: 19px 0px 0px 0px;
    line-height: 31px;
}

.Aboutus img{
    width: 350px;
    height: 288px;
}

.Quicklinks-social{
    width: 30%;
    margin-left: 150px
}

.Quicklinks-social a{
    color: #fff;
}

.Latest-posts{
    width: 30%;
}

.footer-container a {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}

.footer a:hover, .footer h4:hover, footer p:hover{
    opacity: 0.5;
}   

